alias dogup="docker-machine start default && eval \"\$(docker-machine env default)\""
alias dogdown="docker-machine stop default"
alias dogenv="eval \"\$(docker-machine env)\""
alias cssh="tmux-cssh"
