# PATH exports

#PATH="/Applications/Android Studio.app/sdk/tools:$PATH"
#PATH="/Applications/Android Studio.app/sdk/platform-tools:$PATH"
#PATH="~/Library/Android/sdk/platform-tools:$PATH"
PATH="/Library/Frameworks/Python.framework/Versions/3.5/bin:$PATH"
PATH="/usr/local/sbin:$PATH"
PATH="/usr/local/bin:$PATH"
# global composer bin
PATH="{{ ansible_user_dir }}/.composer/vendor/bin:$PATH"
# personal bin folder
PATH="{{ ansible_user_dir }}/bin:$PATH"
# local git bin path
PATH="/usr/local/git/bin:$PATH"
# brew mysql-client
PATH="/usr/local/opt/mysql-client/bin:$PATH"
#  metasploit path
PATH="/opt/metasploit-framework/bin:$PATH"

export PATH
